.container-flex-about{
    flex-wrap: wrap;
    padding-bottom: 50px;
}
.title-about{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
.skills-about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.skills-about *{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 300px;
}
.skills-about > div{
    /* background-color: pink; */
}
.skills-about > div > *{
    /* border: 1px solid black; */
    margin:0;
}
.skills-about > div > p{
    display: flex;
    width: 70%;
    justify-content: flex-start;
    align-items: center;
}
.skills-about > div > h2{
    /* border: 1px solid black; */
    height: 25%;
    margin:0;
}
.skills-about > div > img{
    height: 100px;
    width: 100px;
}

/* .tech-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.picture-about{
    display: flex;
    justify-content: center;
    width: 500px;
    height: 500px;
}
.picture-about > img{
    display: flex;
    width: 80%;
    height: 80%;
    object-fit: cover;
}
.tech-section > .technologies-about{
    display: flex;
    min-width: 700px; 
    width: 700px;
    height: 500px;
    flex-wrap: wrap;
}
.technologies-about > *{
    display: flex;
    width: 150px;
    justify-content: center;
    align-items: center;
} */



.tech-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.picture-about{
    flex: 30%;
    max-width: 30%;
}
.technologies-about{
    /* justify-content: center; */
    flex: 50%;
    max-width: 50%;
}
.picture-about > img{
    box-sizing: border-box;
    padding: 0 10px;
    width: 100%;
    border-radius: 30%;
    object-fit: cover;
}
.picture-about > h2, .picture-about > h3{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 100%;
}

.technologies-about > img{
    box-sizing: border-box;
    padding: 0 10px;
    width: 25%;
}
@media (max-width: 750px) {
    .picture-about, .technologies-about {
      flex: 50%;
      max-width: 50%;
    }
}
@media (max-width: 600px) {
    .picture-about, .technologies-about{
      flex: 100%;
      max-width: 100%;
    }
}