.container-flex2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.landing-page{
    height: 100vh;
    width: 100%;
    background-image: url(../images/dark_sky.PNG);
    background-size: cover;
}

.title{
    width: 700px;
    /* border: 2px solid black; */
    color: white;
}
.title > h1{
    font-size: 50px;
}
.btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.btns > label{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    min-width: 200px;
    min-height: 50px;
    text-align: center;
    margin-bottom: 10px;
    color: white;
    border-color: white;
    font-size: 20px;
}
.btns > label:hover{
    background-color: rgb(0,0,0,0.4)
    /* opacity: 0.2; */
}