label{
    color: white;
    /* font-size: ; */
}

.container-flex-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    height: 50px;
    position: sticky; 
    top: 0;
    z-index: 1;
}

.container-flex-nav > div{
    /* border: 1px solid black; */
}
.nav-item1{
    width: 50%;
    height: 100%;
    /* background: blue; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.nav-item2{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-item1 > *, .nav-item2 > *{
    /* background: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: white;
}
.nav-item1 > *:hover, .nav-item2>*:hover{
    background: white;
    color: black;
}
.nav-item1 > .active, .nav-item2 > .active{
    background-color: #dddddd;
    color: black;
}