label{
    color: white;
    /* font-size: ; */
}

.container-flex-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    position: sticky; 
    top: 0;
    z-index: 1;
    flex-wrap: wrap;
}

.nav-item1{
    width: 50%;
    height: 100%;
    /* background: blue; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}
.nav-item2{
    flex-wrap: wrap;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-item1 > *, .nav-item2 > *{
    /* background: white; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 25%;
    padding: 10px 0;
    color: white;
    text-decoration: none;
}
.nav-item2 > *{
    width: 33%;
}
.nav-item1 > *:hover, .nav-item2>*:hover{
    background: white;
    color: black;
}
.nav-item1 > .active, .nav-item2 > .active{
    background-color: #dddddd;
    /* text-decoration: underline; */
    color: black;
}

.modeling-nav > *{
    width: 50%;
}

@media (max-width: 800px){
    .nav-item1, .nav-item2, .modeling-nav{
        width: 100%;
    }
}
@media (max-width: 600px){
    .nav-item1 > *, .nav-item2 > *, .modeling-nav > *{
        width: 100%;
    }
}
