.container-flex-project{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid black;
}

.title-project{

}

.project-container-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.project-container-flex > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    border: 1px solid black;
}