.container-flex-works{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    overflow: hidden;
    background: linear-gradient(#FFEEEE, #DDEFBB);
}

.title-works{
    display: flex;
    justify-content: center;
    align-items: center;
}

.timeline-container{
    display: flex;
    position: relative;
    /* justify-content: center; */
    /* align-items: center; */
    width: 900px;
    flex-wrap: wrap;
    flex-direction: column;
    /* border: 1px solid black; */
}
.timeline-container::after{
    position: absolute;
    height: 100%;
    width: 4px;
    left: calc(50% - 2px);
    background-color: black;
    content: '';
}

.timeline-item{
    position: relative;
    display: flex;
    align-self: flex-start;
    width: 50%;
    flex-direction: column;
    /* background-color: pink; */
}
.timeline-item:nth-child(odd){
    display: flex;
    align-self: flex-end;  
}
.timeline-item > *{
    display: flex;
    justify-content: flex-end;
    max-width: 70%;
    flex-wrap: wrap;
}
.timeline-item:nth-child(odd) > *{
    margin-left: 30%;  
    display: flex;
    justify-content: flex-start;
}
.timeline-item::after{
    content: '';
    background-color: black;
    width: 15px;
    height: 15px;
    position: absolute;
    transform: rotate(45deg);
    right: -7.5px;
    top: calc(50% - 7.5px);
}
.timeline-item:nth-child(odd)::after{
    left: -7.5px;
}

.timeline-item-context{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 50%;
    padding: 80px 0px 100px 0px;
    flex-wrap: wrap;
    /* background-color: white; */
}
.timeline-item-context > *{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    /* border: 1px solid black; */
    text-align: center;
    /* padding-left: 10px; */
}
/* 
#job1{
    background: linear-gradient(#00b09b, #96c93d);
}
#job2{
    background: linear-gradient(#c1c3c5, #2c3e50);
}
 */
