.container-flex-activitiesP1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #333333;
    min-height: 100vh;
    flex-direction: column;
}